$color-bg-white:         #fff;
$color-bg-gree:          #2c3e50;
$color-bg-gray:          #f1f1f1;
$color-bg-aliceblue:     #f0f8ff;
$color-bg-darkblue:      #324057;

$color-body:             #888;
$color-header:           #333;
$color-title:            #888;
$color-paragraph:        #aaa;

$color-primary:          #20a0ff;
$color-success:          #13ce66;
$color-warning:          #f7ba2a;
$color-danger:           #ff4949;
$color-info:             #50BFFF;
$color-blue:             #45AEFF;
$color-blue-light:       #5da9ff;
$color-blue-lighter:     rgba(#2e90fe, 0.12);
$color-white:            #fff;
$color-black:            #000;
$color-grey:             #C0CCDA;

$font-sz-body:           12px;
$font-sz-title:          15px;
$font-sz-paragraph:      14px;
$font-sz-header:         16px;
$font-sz-title-g:        18px;

$font-weight-light:      200;
$font-weight-middle:     400;
$font-weight-bold:       700;

$border-radius:  				  3px;

$border-color:  				  #ccc;