@import './common';
@import './cssreset';
// @import './var';
// @import './fonts';

.padding_t_20{
	padding-top: 20px;
}

.margin_t_20{
	margin-top: 20px;
}

.margin_0_auto{
	margin: 0 auto;
}

.w_90{
	width: 90%;
}