.getCode{
  position: relative;
  .tips{
    top: -24px;
  }
  .button{
    display: block;
    margin: 10px auto;
    width: 90%;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #fff;
    background: #9e9e9e;
    border-radius: 2px;
    text-align: center;
  }
}